<a href="https://colab.research.google.com/github/YoshinoreDaichi/58003-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python Indentation
if 5>2:
  print("five is greater than two")

five is greater than two

In [13]:
#Declaration of variable
x=5
y= 2

if x>y:
  print("5 is greater than 2")
elif x>y:
  print("2 is greater than 5")
else:
  print("5 and 2 are equal")

5 is greater than 2

In [5]:
#Python variable
a,b=0, -1
print (a)
print (b)

0
-1

In [6]:
#Python variable with multiple values
a,b,c=0,-1,-2
print(a)
print(b)
print(c)

0
-1
-2

In [ ]:
a = 1
b = 2
c = 3
print(a)

In [9]:
#Single variable with multiple values
a= b =c = 4.5
print(a)
print(b)
print(c)

4.5
4.5
4.5

In [10]:
print (type(a))

<class 'float'>