<a href="https://colab.research.google.com/github/YoshinoreDaichi/58003-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [1]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested For Loop

In [2]:
adjective = ["big",'tasty',"juicy"]
fruits = ["banana","apple","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

big banana
big apple
big cherry
tasty banana
tasty apple
tasty cherry
juicy banana
juicy apple
juicy cherry

 Break Statement in For Loop

In [5]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x =="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only Thursday using break statement in loop

In [8]:
week = ["Sunday",'Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for x in week:
  if x =='Thursday':
    print (x)
    break

Thursday

Looping to String

In [15]:
for x in"Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

 While Loop

In [17]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

while loop using break statement

In [24]:
i = 1
while i<6:
  if i == 4:   
   print(i)
   break
  i+=1
            #to display only 4

4

Application 1

In [30]:
i = "Hello"
x = 1
while x<=10:
   print(i,x)
   x+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [31]:
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9